html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: whitesmoke;
}


