.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-content {
    display: inline-block;
    align-self: flex-end;
    font-family: sans-serif;
    font-size: 15px;
}