#header {
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    right: 0px;
    /* top: 0px; */
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    transition: all .5s ease-in-out;
    z-index: 1;
    animation: header-slide-down .9s
}

@keyframes header-slide-down {
    from {
        top: -70px
    }
    to {
        top: 0px
    }
}

.logo {
    cursor: pointer;
    width: 120px;
    margin-right: auto;
}

.avatar {
    cursor: pointer;
    width: 40px;
}

.bell {
    cursor: pointer;
    width: 35px;
    padding-right: 20px;
}

#bell1 {
    cursor: pointer;
    font-size: 25px;
    color: rgb(175, 175, 175);
    padding-right: 20px;
}

#bell1:hover {
    color: rgb(138, 138, 138);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    display: none;
    flex-direction: column;
    width: 100%;
    margin-left: -160px;
    margin-top: 5px;
    /* Параметры тени0 */
}

ul li {
    min-width: 200px;
    width: 100%;
    color: black;
}

#name {
    box-shadow: -2px -3.5px 15px rgb(202, 202, 202);
}

#header a {
    background-color: white;
    display: block;
    padding: 1px;
    text-decoration: none;
    text-align: center;
}

#header a:not(#nameRef) {
    color: black;
}

#profileImage a:not(#nameRef):hover {
    background-color: rgb(189, 189, 189);
}

#nameRef {
    cursor: default;
    color: rgb(131, 131, 131);
}

#nameRef:hover {
    background-color: white;
}

#profileImage {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(202, 55, 158);
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 20px 0;
    font-family: sans-serif;
}

#profileImage div {
    border-radius: 50%;
}

#profileImage div:hover {
    background: rgb(175, 11, 126);
}

button:focus ul {
    display: flex;
}

button {
    border: none;
}

button:focus {
    outline: none;
}