.main {
    margin-top: 120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 4fr 4fr 5fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(500px, auto);
}

#binary-academy {
    grid-area: 1 / 1 / 5 / 2;
}

#qa {
    grid-area: 5 / 1 / 9 / 2;
}

#js {
    grid-area: 1 / 2 / 7 / 3;
}

#java {
    grid-area: 7 / 2 / 9 / 3;
}

#php {
    grid-area: 1 / 3 / 4 / 5;
}

#net {
    grid-area: 4 / 3 / 9 / 4;
}

#events {
    grid-area: 4 / 4 / 6 / 5;
}

#blog {
    grid-area: 6 / 4 / 8 / 5;
}

#binary-academy-inner {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#binary-academy:hover #binary-academy-inner {
    transform: rotateY(180deg);
}

#binary-academy-front, #binary-academy-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#binary-academy-front {
    background-color: white;
    background-image: url(../images/binary_academy.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#binary-academy-back {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.join {
    cursor: pointer;
    border-radius: 10%;
    background-color: rgb(64, 140, 255);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
    width: 100px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join:hover {
    background-color: rgb(9, 103, 245);
}

#qa-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#qa:hover #qa-inner {
    transform: rotateY(180deg);
}

#qa-front, #qa-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#qa-front {
    background-color: rgb(0, 136, 0);
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qa-back {
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    transform: rotateY(180deg);
}

#qa-back span {
    margin: 7% 5%;
}

#js-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#js:hover #js-inner {
    transform: rotateY(180deg);
}

#js-front, #js-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#js-front {
    text-align: right;
    background-color: rgb(228, 186, 0);
    color: black;
    font-size: 70px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#js-back {
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    transform: rotateY(180deg);
}

#js-front span {
    display: inline-block;
    margin: 2% 5%;
}

#js-back span {
    display: inline-block;
    margin: 7% 5%;
}

#java-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#java-front {
    text-align: right;
    background-color: rgb(212, 42, 42);
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#java:hover #java-front {
    top: 100%;
}

#java-back {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
}

#java-back span {
    display: inline-block;
    margin: 7% 5%;
}

#php-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#php-front {
    text-align: right;
    background-color: rgb(139, 151, 189);
    color: black;
    font-size: 70px;
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#php:hover #php-front {
    bottom: 100%;
    left: 100%;
}

#php-back {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
}

#php-back span {
    display: inline-block;
    margin: 2% 1%;
}

#net-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#net-front {
    text-align: right;
    background-color: rgb(92, 33, 131);
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#net:hover #net-front {
    top: 100%;
    left: 100%;
}

#net-back {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: bold;
}

#net-back span {
    display: inline-block;
    margin: 7% 5%;
}

#events-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: white;
}

#events-front {
    text-align: right;
    background-color: rgb(76, 139, 235);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#events:hover #events-front {
    left: 100%;
}

#events-back {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    font-weight: bold;
    overflow-y: scroll;
    max-height: 160px;
}

#blog-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#blog-front {
    text-align: right;
    background-color: rgb(8, 69, 160);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog:hover #blog-front {
    left: 100%;
}

#blog-back {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
    font-weight: bold;
}

#blog-back span {
    margin: 7% 5%;
}

#contacts-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#contacts-front {
    text-align: right;
    background-color: rgb(0, 31, 77);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts:hover #contacts-front {
    left: 100%;
}

#contacts-back {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-block {
    color: rgb(0, 31, 77);
    font-size: 25px;
    display: flex;
    gap: 10px;
}

.contacts-block i {
    cursor: pointer;
}

.contacts-block i:hover {
    color: rgb(0, 90, 224);
}

.contacts-block {
    color: rgb(0, 31, 77);
    font-size: 30px;
    display: flex;
}

.contacts-block i {
    margin: 3px;
}

#blog-back span {
    margin: 7% 5%;
}