@media only screen and (max-width: 990px) {
    .main {
        grid-template-columns: 8fr 1fr 5fr 4fr;
        grid-template-rows: 3fr 3fr 2fr 4fr 4fr;
    }
    #binary-academy {
        grid-area: 1 / 1 / 4 / 2;
    }
    #js {
        grid-area: 1 / 2 / 4 / 4;
    }
    #events {
        grid-area: 1 / 4 / 2 / 5;
    }
    #blog {
        grid-area: 2 / 4 / 3 / 5;
    }
    #contacts {
        grid-area: 3 / 4 / 4 / 5;
    }
    #java {
        grid-area: 4 / 1 / 5 / 3;
    }
    #qa {
        grid-area: 5 / 1 / 6 / 3;
    }
    #php {
        grid-area: 4 / 3 / 5 / 5;
    }
    #net {
        grid-area: 5 / 3 / 6 / 5;
    }
}