.message-box {
    box-sizing: border-box;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 250px;
    /* background-color: teal; */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.message-box>div {
    box-sizing: border-box;
    margin-top: 5%;
    border-radius: 5px;
    /* justify-content: center; 
     align-content: center;  */
}

.message-content {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.message-icon {
    color: white;
    font-size: 30px;
    align-self: center;
}

.message-text {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    align-self: center;
}

.message-header {
    font-weight: bold;
}

.success {
    background-color: rgba(112, 177, 112, 0.8);
}

.error {
    background-color: rgba(189, 56, 56, 0.8);
}